<!DOCTYPE html>
{% load static %}
<html>
<head>
	<style >
h1{
	color:green;
}
h3{
	color:orange;
}
p{
	color:white;
	font-size:14px;
}
body{
		background: url(https://images.unsplash.com/photo-1478826160983-e6db8c7d537a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);

	background-size: cover;
}
u{
	color:white;
}

	</style>
	<title></title>
</head>
<body>
	{% include 'nav_bar.html'%}
<p>	Find a complete & accurate list with brief information of Akshay Kumar upcoming movies 2019 & 2020 with release date and director, producer, plot, budget etc.</p>

<u><h1>Akshay Kumar Upcoming Movies</h1></u><br><br>
<center>
<img src="https://i.pinimg.com/originals/2a/e1/e9/2ae1e979f3769eb41d8e0ebcd11350b0.jpg" alt=""><br><br>

<h3>1- Good News</h3>

<p>
Akki and Kareena Kapoor Khan reunite while rising stars Diljit Dosanjh and Kaira Adwani join them in Good News directing by debutante director Raj Mehta.

Movie Name– Good News

Release Date– 6 Sep 2019

Star Cast– Akshay Kumar, Kareena Kapoor, Diljit Dosanjh, Kaira Advani

Director– Raj Mehta

Producer– Karan Johar

Genre– Drama

Budget– N/A
</p>
<h3>2- Houseful 4</h3>
<p>

Sajid-Farhad will make their comedy franchise Housefull’s next part in 2018, where Akshay Kumar, Kriti Sanon, Ritesh Deshmukh are confirmed as leads and Bobby Deol will join this team. Sanjay Dutt is playing an important role in the film.

Movie Name– Housefull 4

Release Date– Diwali 2019

Star Cast– Akshay Kumar, Ritesh Deshmukh, Bobby Deol, Kriti Sanon, Pooja Hegde

Director– Farhad Samji

Producer– Sajid Nadiadwala, Fox Star Studios

Genre– Comedy

Budget– 100 crore+
</p>
<h3>3- Suryavanshi</h3>

<p>
Movie Name– Suryavanshi

Release Date– 27 Mar 2020

Star Cast– Akshay Kumar

Director– Rohit Shetty

Producer– Karan Johar

Genre– Action-Drama

Budget– 50 Cr+
</p>
<h3>4- Laxmmi Bomb</h3>

<p>
After Good News, Akki and Kiara Advani will share screen in the horror comedy Kanchana Remake.

Movie Name– LaxmmiBomb

Release Date– 5 Jun 2020

Star Cast– Akshay Kumar, Kiara Advani

Director– Raghav Lawrence

Producer– Akshay Kumar

Genre– Horror Comedy

Budget– N/A
</p>
<h3>5- Bachchan Pandey</h3>
<p>
Khiladi Kumar and Sajid Nadiadwala shake hands for a film Bachchan Pandey.

Movie Name– Bachchan Pandey

Release Date– Christmas 2020

Star Cast– Akshay Kumar

Director– Farhad Samji

Producer– Sajid Nadiadwala

Genre– Action Drama

Budget– N/A
</p>
<h3>6- Prithviraj Chauhan Biopic</h3>
<p>
Khiladi Kumar is all set to play the great warrior Prithviraj Chauhan in Chandraprakash Dwivedi’s Next, he talked this project during Kesari promotion.

Movie Name– Chandraprakash Dwivedi’s Next

Release Date– Not Final

Star Cast– Akshay Kumar

Director– Chandraprakash Dwivedi

Producer– YRF

Genre– Period Drama

Budget– N/A
</p>
<h3>7- Raghava Lawrence’s Horror Comedy</h3>
<p>
After 12 years of super hit Bhool Bhulaiyaa, Akki signs another horror comedy.

Movie Name– Untitled

Release Date– Not Final

Star Cast– Akshay Kumar

Director– Raghava Lawrence

Producer– N/A

Genre– Horror Comedy

Budget– N/A
</p>
<h3>8- Hera Pheri 3</h3>
<p>
Hera Pheri 3 is a sequel to the most popular comedy film series Hera Pheri started in 2000. Priyadarshan directed Hera Pheri series is one of the best comedy movies of Bollywood till the date.

In the third part, the super trio reunites and shoot starts in 2019.

Movie Name– Hera Pheri 3

Release Date– 2019

Star Cast– Akshay Kumar, Paresh Rawal, Suniel Shetty

Director– Inder Kumar

Producer– Firoz Nadiadwala

Genre– Comedy

Budget– N/A
</p>
</center>
{% include 'footer.html' %}
</body>
</html>
