<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style >
  h1{
    color:green;
  }
  h2{
    color:orange;
  }
  p{
    color:white;
  }
  body{
    	background: url(https://images.unsplash.com/photo-1478826160983-e6db8c7d537a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);

    background-size: cover;
  }
    </style>
  </head>
  <body>
{% include 'nav_bar.html'%}
    <h1>Ayushmann Khurrana Upcoming Movies</h1>
    <center>

<img src="https://extraimage.net/images/2019/06/15/a921f6efc91a19a2c2e6a72a891ca1c0.jpg" alt=""><br><br>
    After Badhai Ho success, Ayushmann Khurrana to lead Dream Girl stars Nusrat Bharucha in lead female role.


    <h2>1- Movie Name– Dream Girl <br></h2>
<p>
    Release Date– 13 Sept 2019<br>

    Star Cast– Ayushmann Khurrana, Nusrat Bharucha<br>

    Director– Raaj Shaandilyaa<br>

    Producer– Shobha Kapoor, Ekta Kapoor, Aashish Singh<br>

    Genre– Drama<br>
</p>
    <h2>2- Article 15</h2>

  <p>
    Movie Name– Article 15<br>

    Release Date– Not Finalized<br>

    Star Cast– Ayushmann Khurrana, Isha Talwar, Manoj Pahwa, Sayani Gupta, Kumud Mishra, Mohd Zeeshan Ayyub<br>

    Director– Anubhav Sinha<br>

    Producer– N/A<br>

    Genre– Drama<br>

    Budget– N/A<br>
</p>
    <h2>3- Shubh Mangal Zyada Saavdhan</h2>
<p>
    Ayushmann Khurrana and Bhumi Pednekar reunite for another sex comedy, sequel to Shubh Mangal Saavdhan. This time homosexuality.<br>

    Movie Name– Shubh Mangal Zyaada Saavdhan<br>

    Release Date– 2020<br>

    Star Cast– Ayushmann Khurrana, Bhumi Pednekar<br>

    Director– Hitesh Kewalya<br>

    Producer– Anand L Rai<br>

    Genre– Comedy Drama<br>

    Budget– N/A<br>
</p>
    <h2>4- Gulabo Sitabo</h2>
<p>
    Ayushmann Khurrana and Amitabh Bachchan to share screen for the first time.<br>

    Movie Name– Gulabo Sitabo<br>

    Release Date– Nov 2019<br>

    Star Cast– Ayushmann Khurrana, Amitabh Bachchan<br>

    Director– Shoojit Sircar<br>

    Producer– Ronnie Lahiri, Sheel Kumar<br>

    Genre– Comedy<br>

    Budget– N/A<br>
</p>
    <h2>5- Aagra Ka Daabra</h2>
<p>
    Agra Ka Daabra is the story of a guide wants to become something big in Bollywood.<br>

    Movie Name– Agra Ka Daabra<br>

    Release Date– Not Finalized<br>

    Star Cast– Ayushmann Khurrana, Yami Gautam, Taapsee, Pulkit Samrat<br>

    Director– Shoojit Sircar<br>

    Producer– John Abraham<br>

    Genre– Drama<br>

    Budget– N/A<br>
</p>
    <h2>6- Kunal Kohli’s Next</h2>
<p>
    Ayushmann Khurrana is delivering hits back to back and now to be directed by Kunal Kohli in a comedy-drama.<br>

    Movie Name– Untitled<br>

    Release Date– Not Finalized<br>

    Star Cast– Ayushmann Khurrana<br>

    Director– Kunal Kohli<br>

    Producer– N/A<br>

    Genre– Drama<br>

    Budget– N/A<br>
</p>
</center>
    Here is the complete list of today’s popular actor-singer Ayushmann Khurrana upcoming movies list. Read the whole article and know several facts related to this talented actor of B-Town.
{% include 'footer.html' %}
  </body>
</html>
