<!DOCTYPE html>
{% load static %}

<html>
<head>
	<title></title>
	<style >
h1{
	color:green;
}
h2{
	color:orange;
}
p{
	color:white;
}
body{
		background: url(https://images.unsplash.com/photo-1478826160983-e6db8c7d537a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);

	background-size: cover;
}
	</style>
</head>
<body>
	{% include 'nav_bar.html'%}
	<p>
	<i>Stay here to know all about Deepika Padukone upcoming movies.  She is currently standing at the peak of her career. Every past year is bringing grand success to her and she is rapidly climbing the ladder of triumphs.

2018 was very special for her, the actress first delivered blockbuster Padmaavat then married to superstar Ranveer Singh.

5 January 1986 born Deepika started her career in this glamorous industry as a model. She worked with lots of top-notch modeling agencies and at a very young age of 18.

Despite being the daughter of former Indian Badminton player Prakash Padukone, Deepika had seen lots of trouble in the early phase of her career.

She left her Bangalore home to Mumbai at a very young age of 17 to chase her dream of becoming an actress. The first big break for Deepika came in 2006 when music director Himesh Reshammiya selected her for his music video album Tera Surroor.

So, Deepika got dream debut of her career in Om Shanti Om (2007) with Bollywood Badshah Shah Rukh Khan, She played dual characters in the film, which went on to be the biggest grosser of the year.

After this flying start, all went wrong when her next three films Bachna Ae Haseeno, Chandni  Chowk To China and Karthik Calling Karthik were not performed well but she didn’t felt upset and waited for the right script.

Director Imtiaz Ali signed her for Love Aaj Kal (2009) opposite Saif Ali Khan. People love this film and Deepika’s character. The film was a big hit at the box office and she was nominated for Filmfare Award for Best Actress.

Post this success, Deepika was seen in various multi starrer films like Housefull (2010),  Dum Maro Dum (2011) and Aarakshan (2011). All these films were average performed and still something was missing for her as she was not getting big hits.

In 2012, Homi Adajania directorial  Cocktail arrived and had been appreciated by the audience. Deepika was again nominated for Best Actress for Filmfare Award. Then she gave back to back blockbusters such as Race 2 (2013) and Yeh Jawaani Hai Deewani (2013).

Rohit Shetty’s comedy-drama Chennai Express (2013), she again got the chance to work with Shah Rukh. The film crossed 200 crore mark and Deepika had called the box office queen.

In subsequent years, she gave back to back big money spinners like Goliyon Ki Raasleela Ram-Leela (2013), Happy New Year (2014), Piku and Bajirao Mastani (2015).

Deepika Padukone’s first solo or woman-centric film Padmaavat (2018) received a huge response in India and overseas. Ranveer Singh, Shahid Kapoor also praised for their brilliant act directed by Sanjay Leela Bhansali.</i>
</p>
<center>
<img src="https://hdqwalls.com/download/deepika-padukone-latest-1920x1080.jpg" alt=""><br><br>

<h2>1- Chhapaak</h2>
<p>

Mirzapur’s Bablu Pandit aka Vikrant Massey to share the screen with topmost Deepika Padukone in Meghna Gulzar’s next is based on acid attack survivor Laxmi Agarwal.

Movie Name– Chhapaak <br>

Release Date-10 Jan 2020<br>

Star Cast– Vikrant Massey, Deepika Padukone<br>

Director– Meghna Gulzar<br>

Producer– Fox Star Studios, Leena Yadav<br>

Genre– Social drama
<br>
Budget– N/A<br>
</p>
<h2>2- 83</h2>
<p>

Deepika will play Kapil Dev’s wife Romi in 83.<br>

Movie Name– 83<br>

Release Date– 10 Apr 2020<br>

Star Cast– Ranveer Singh, Deepika Padukone<br>

Director– Kabir Khan<br>

Producer– Kabir Khan<br>

Genre– Biographical Drama<br>

Budget– N/A<br>
</p>
<h2>3- Rana</h2>
<p>
Bollywood topmost actress Deepika Padukone is going to lead opposite Megastar Rajinikanth in Tamil film Rana. They first collaborated through Kochadaiiyaan (2014).

Movie Name– Rana<br>

Release Date– (Not Finalized)<br>

Star Cast– Rajinikanth, Deepika Padukone<br>

Director– K. S. Ravikumar<br>

Producer– Sunil Lulla, Soundarya Rajinikanth<br>

Genre– Historical action drama<br>

Budget– N/A<br>
</p>
<h2>4- Sahir Ludhianvi Biopic</h2>
<p>
Deepika Padukone will play late poet and Ghajalkar Sahir Ldhianvi’s love interest Amrita Pritam in his biopic.<br>

Movie Name– Sahir Ludhianvi Biopic<br>

Release Date– Not Finalized<br>

Star Cast– Abhishek Bachchan, Deepika Padukone<br>

Director– N/A<br>

Producer– Sanjay Leela Bhansali<br>

Genre– Biopic<br>

Budget– N/A<br>


Here we are presenting the list of Deepika Padukone upcoming movies 2018 & 19. Here you can view this list of your favorite star’s movies.
</p>
</center>
{% include 'footer.html' %}
</body>
</html>
