<!DOCTYPE html>
{% load static %}

<html>
<head>
	<title></title>
	<style >
h1{
	color:red;
}
h2{
	color:orange;
}
p{
	color:white;
}
body{
		background: url(https://images.unsplash.com/photo-1478826160983-e6db8c7d537a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);

	background-size: cover;
}
	</style>
</head>
<body>
	{% include 'nav_bar.html'%}
<h3>Find Disha Patani upcoming movies in the article with the star cast, budget releasing date etc.</h3>
<p>
<i>The actress is best known for her supporting role in Sushant Singh Rajput’s super hit biographical sports drama M.S. Dhoni: The Untold Story (2016) and Salman Khan’s Bharat (2019).

Disha was born on 27 July 1995 in Bareilly, Uttar Pradesh from DSP Jagdish Singh Patani. In 2013, Disha became first runners-up in Miss Indore pageant competition and started her career in modeling.

She established a successful modeling career in 2014 and got a chance to feature in Cadbury Dairy Milk advertisement in 2015 after which she becomes so popular and many filmmakers approached her for the films.

Disha Patani started her acting career through a Telugu movie Loafer (2015) made her so famous in the industry.</i>
</p>
<h1>Disha Patani Upcoming Movies</h1>
<center>
<img src="https://wallpapercave.com/wp/wp2052854.jpg" alt=""><br><br>

<h2>1- Anees Bazmee’s Next</h2>
<p>

Kartik Aaryan and Disha Patani paired for a rom-com. <br>

Movie Name- Untitled<br>

Release Date- 2019<br>

Star Cast- Kartik Aryan, Disha Patani<br>

Director- Anees Bazmee<br>

Producer- Bhushan Kumar<br>

Genre- Romantic Comedy<br>

Budget- N/A<br>
</p>
<h2>2- Malang</h2>
<p>
Disha Patani, Aditya Roy Kapur, Anil Kapoor and Kunal Khemu in action-thriller film.<br>

Movie Name– Malang<br>

Release Date– 2020<br>

Star Cast– Aditya Roy Kapur, Disha Patani<br>

Director– Mohit Suri<br>

Producer– Ekta Kapoor<br>

Genre– Action Thriller<br>

Budget– 50 Crore<br>

Not Confirmed<br>
</p>
<h2>3- Kick 2</h2>
<p>

Sources suggest that Disha Patani is leading lady of Salman Khan in the film.<br>

Movie Name– Kick 2<br>

Release Date– 2019<br>

Star Cast– Salman Khan, Disha Patani<br>

Director– Sajid Nadiadwala<br>

Producer– Sajid Nadiadwala<br>

Genre– Action<br>

Budget– 100 Crore+<br>
</p>
<h2>4- Rohit Dhawan’s Next</h2>
<p>
Officially yet to confirm but Disha Patani is getting big stars’ movies back to back after Salman Khan’s Bharat report says Disha Patani to share screen space with hunk Hrithik Roshan in Rohit Dhawan’s Next is producing by Sajid Nadiadwala.<br>

Movie Name– Rohit Dhawan’ Next<br>

Release Date– 2019<br>

Star Cast– Hrithik Roshan, Disha Patani<br>

Director– Rohit Dhawan<br>

Producer– Sajid Nadiadwala<br>

Genre– Drama<br>

Budget– N/A<br>
</p>
<h2>5- Sangamithra</h2>
<p>
It’s officially not confirmed but many sources say Disha Patani may play a lead role opposite Tollywood superstar Jivam Ravi in period drama Sangamithra.<br>

Movie Name– Sangamithra<br>

Release Date– 2019<br>

Star Cast- Jivam Ravi, Disha Patani<br>

Director- Sundar C.<br>

Producer- Rama Narayanan<br>

Genre- Action-Drama<br>

Budget- N/A<br>

If you want to ask anything related Disha Patani Upcoming Movies, you may leave your comments below.
</p>
</center>
{% include 'footer.html' %}
</body>
</html>
