<!DOCTYPE html>
{% load static%}
<html>
<head>
	<title></title>
	<style >
h1{
	color:green;
}
h2{
	color:orange;
}
p{
	color:white;
	font-size:14px;
}
body{
		background: url(https://images.unsplash.com/photo-1478826160983-e6db8c7d537a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);

	background-size: cover;
}
	</style>
</head>
<body>
  {% include 'nav_bar.html'%}
	<p>In the article find a complete list of Bollywood superstar Shahrukh Khan Upcoming movies list from 2019 to 2022

SRK entered the film industry with romantic-drama Deewana (1991) and completes 27 years in the industry. He showed his versatility by accepting the negative characters in the films Baazigar (1993), Darr (1993) and Anjaam (1994), etc.</p>
</p>
<h1>Shahrukh Khan Upcoming Movies 2019</h1>
<center>
<img src="https://www.filmibeat.com/wimg/desktop/2019/08/shahrukh-khan_10.jpg" alt="">

<h2>- Salute (Not Confirmed)</h2>
<p>

Now writer Anjum Rajabali told to media that SRK is not quitting this film. Fans must wait for an official announcement.

Before Mr. perfectionist rejected this film because he didn’t like the final script. Mahesh Mathai to direct a film based on former Indian Air force pilot Rakesh Sharma and will produce by Sidharth Roy Kapur.

Movie Name– Salute

Release Date– Not confirmed

Star Cast– Shah Rukh Khan

Director– Mahesh Mathai

Producer– Sidharth Roy Kapur

Genre– Biopic

Budget– 100 Cr.
</p>
<h2>2- Don: The Final Chapter</h2>
<p>
Don 3 might rename as Don: The final chapter is the third installment of super hit action-thriller franchise directed by Farhan Akhtar. Shah Rukh Khan will reprise his role of Don which he played in Don (2006) and Don 2 (2012).

While the first two parts had Priyanka Chopra in the female lead but still the actress for Don 3 to be finalized.

According to the latest report, Don 3 will have a fresh face and the film will be shot extensively in Dubai and Abudhabi, expecting to go on the floors sometime in 2019.

Movie Name– Don 3

Release Date– 2019

Star Cast– Shah Rukh Khan, Anushka, Katrina

Director– Farhan Akhtar

Producer– Shah Rukh Khan and Farhan Akhtar

Genre– Action-thriller

Budget– 100 crores
</p>
<h2>3- Karan Johar’s Next</h2>
<p>
After super hits, Kuch Kuch Hota Hai, Kabhi Khushi Kabhie Gham, Kabhi Alvida Na Kehna, My Name Is Khan Karan Johar is excited to direct SRK in his next directional venture. Officially not confirmed but the news is already headline on every Bollywood news website.

Movie Name– Karan Johar’s Next

Release Date– Not Finalized

Star Cast– Shah Rukh Khan

Director–  Karan Johar

Producer– Shah Rukh Khan, Karan Johar

Genre– Drama

Budget– N/A
</p>
<h2>4- Kabir Khan’s Next</h2>
<p>
Kabir Khan and Shahrukh Khan will first time collaborate for a short film based on Dubai Tourism. Shahrukh Khan is the brand ambassador for Dubai Tourism.

Movie Name– Kabir Khan’s Next

Release Date– Not Finalized

Star Cast– Shah Rukh Khan

Director– Kabir Khan

Producer– Shah Rukh Khan and Kabir Khan

Genre– Drama

Budget– N/A
</p>
<h2>5- Vikram Vedha Remake</h2>
<p>
Reportedly, Shah Rukh Khan to star in Tamil Hit Vikram Vedha Hindi remake while Vikram Vedha makers officially informed that they will make remake themselves and denied sold copyright reports.

Movie Name– Vikram Vedha Remake

Release Date– Not Confirmed

Star Cast– Shah Rukh Khan

Director– N/A

Producer– Shah Rukh Khan

Genre– Action-Drama

Budget– N/A
</p>
<h2>6- Hey Ram Remake</h2>
<p>
Megastar Kamal Haasan confirmed that Shah Rukh Khan bagged his critically acclaimed Hey Ram rights.

Movie Name– Hey Ram Remake

Release Date– Not Confirmed

Star Cast– N/A

Director– N/A

Producer– Shah Rukh Khan

Genre– Thriller

Budget– N/A
</p>
<h2>7- Operation Khukri Based</h2>
<p>
Megastar Shah Rukh Khan to produce a film based on Operation Khukri. Reportedly Shah Rukh Khan may play a soldier in the film.

Movie Name– Operation Khukri Based

Release Date– Not Confirmed

Star Cast– N/A

Director– N/A

Producer– Shah Rukh Khan

Genre– War Drama

Budget– N/A
</p>
<h2>8- Ra. One Sequal</h2>
<p>
SRK is much interested to do the sci-fi superhero action drama Ra One sequel.

Movie Name– Operation Khukri Based

Release Date– Not Confirmed

Star Cast– Shah Rukh Khan

Director– N/A

Producer– Shah Rukh Khan

Genre– Drama

Budget– N/A
</p>
<h2>9- Shimit Amin’s Next</h2>
<p>
Shah Rukh Khan’s sports iconic film Chak De! India director Shimit wants work with King Khan once again, a romance genre on the way.

Movie Name– Shimit Amin’s Next

Release Date– Not Confirmed

Star Cast– Shah Rukh Khan

Director– Shimit Amin

Producer– Shah Rukh Khan

Genre– Drama

Budget– N/A
</p>
<h2>10- Rahul Dholakia’s Next</h2>
<p>
Raees actor-director pair Shah Rukh Khan and Rahul Dholakia to shake hands for a Biographical-war film is based on firefighter Tukaram.

Movie Name– Shimit Amin’s Next

Release Date– Not Confirmed

Star Cast– Shah Rukh Khan

Director– Shimit Amin

Producer– Ritesh Sidhwani, Farhan Akhtar

Genre– Drama

Budget– N/A

This is the list of Bollywood star Shahrukh Khan upcoming movies 2019 & 2020. We will regularly update the article as we get information from our sources.
</p>
</center>
{% include 'footer.html' %}
</body>
</html>
