<!DOCTYPE html>
{% load static %}

<html>
<head>
	<title></title>
	<style >
h1{
	color:red;
}
h2{
	color:orange;
}
p{
	color:white;
}
body{
		background: url(https://images.unsplash.com/photo-1478826160983-e6db8c7d537a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);

	background-size: cover;
}
	</style>
</head>
<body>
	{% include 'nav_bar.html'%}
	<p>
<i>A guy from non-filmy background Kartik Aaryan is currently winning hearts across the nation. Pyaar Ka Punchnama series and Sonu Ke Titu Ki Sweety proved that he is a big thing in the future.

Kartik was born on 22 November 1990 in Gwalior. After completing schooling in Gwalior, he shifted to Mumbai to pursue engineering in biotechnology.

A son of a pediatrician father and a gynecologist mother, Kartik was interested in acting and modeling so he joined the modeling while pursuing engineering.

After so many auditions, he got a pivotal role in Luv Ranjan’s Pyaar Ka Punchnama (2011) and nailed the character of Rajat or Rajjo.

Akaash Vani (2013) and Kaanchi: The Unbreakable (2014) failed to get success but his ability is impressive in each and every film.

He made a nice comeback through Pyaar Ka Punchnama sequel (2015) but failed again in Guest iin London (2017). 2018 was a turning point of his career when his 4th collaboration with Luv Ranjan SKTKS became a low budget blockbuster.</i>
</p>
<br>Upcoming movies
<center>
<img src="http://media.glamsham.com/download/wallpaper/celebrities/images/k/kartik-aaryan-wallpapers-03-12x9.jpg" alt=""><br><br>

<h2>1- Bhool Bhulaiyaa 2</h2>
<p>
Kartik Aaryan to play Akki’s character in this part.

Bhool Bhulaiyaa 2 Release Date Out, Kartik Aaryan Shares First Look

Movie Name– Bhool Bulaiyaa 2<br>

Release Date– 31 Jul 2020<br>

Star Cast– Kartik Aaryan<br>

Director– Anees Bazmee<br>

Producer– Bhushan Kumar<br>

Genre– Horror Comedy<br>

Budget– N/A<br>
</p>
<h2>2- Love Aaj Kal 2</h2>
<p>
Sara Ali Khan and her crush kartik Aaryan to romance in Love Aajkal 2.<br>

Movie Name– Love Aajkal 2<br>

Release Date– N/A<br>

Star Cast– Kartik Aaryan, Sara Ali Khan, Saif Ali Khan<br>

Director– Imtiaz Ali<br>

Producer– Dinesh Vijan<br>

Genre– Drama<br>

Budget– N/A<br>
</p>
<h2>3- Pati Patni Aur Woh</h2>
<p>
An old film remake stars Kartik, Bhumi, and Ananya in key roles. Kartik Aaryan’s avatar created a buzz.<br>



Movie Name- Pati Patni Aur Woh<br>

Release Date- 10 Jan 2020<br>

Star Cast- Kartik Aryan, Ananya Panday, Bhumi Pednekar<br>

Director- Mudassar Aziz<br>

Producer- Bhushan Kumar<br>

Genre- Comedy<br>

Budget- N/A<br>
</p>
<h2>4- Dostana 2</h2>
<p>

After Karan Johar’s big project Takht, Janhvi Kapoor finalized for the popular comedy-drama Dosatana (2008) sequel where Kartik Aaryan is a lead actor while another lead male yet to be confirmed.

Movie Name– Dostana 2<br>

Release Date– 2019<br>

Star Cast– Janhvi Kapoor, Kartik Aaryan<br>

Director– Collin D’Cunah<br>

Producer– Karan Johar<br>

Genre– Rom-Comedy<br>

Budget– N/A<br>
</p>
<h2>5- Chashme Badoor Remake</h2>
<p>

Kartik Aaryan and Jacqueline to be paired for a rom-com, yet to be confirmed<br>

Movie Name- Untitled<br>

Release Date- 2019<br>

Star Cast- Kartik Aryan, Jacqueline Fernandez<br>

Director- David Dhawan<br>

Producer- N/A<br>

Genre- Romantic Comedy<br>

Budget- N/A
</p>
</center>
{% include 'footer.html' %}
</body>
</html>
