<!DOCTYPE html>
{% load static %}

<html>
<head>
	<title></title>
	<style >
h1{
	color:green;
}
h2{
	color:orange;
}
p{
	color:white;
	font-size:14px;
}
body{
		background: url(https://images.unsplash.com/photo-1478826160983-e6db8c7d537a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);

	background-size: cover;
}
	</style>
</head>
<body>
	{% include 'nav_bar.html'%}
	<p>
	<i>Here in this post, we will let you know about Shraddha Kapoor upcoming movies & release date as she bagged some big projects which show that she is currently among the best choices of the filmmakers.

Shraddha Kapoor is the current sensational emerging star of Bollywood. This 30+ diva is a daughter of veteran actor Shakti Kapoor.

Shraddha Kapoor made a unique place through Aashiqui 2, Haider, Half Girlfriend, Haseena and others. Shraddha made a blockbuster comeback with Stree but failed again with Batti Gul Meter Chalu.</i>
</p>
<h1>Shraddha Kapoor Upcoming Movies</h1>
<center>
<img src="http://media1.santabanta.com/full1/Indian%20%20Celebrities(F)/Shraddha%20Kapoor/shraddha-kapoor-52a.jpg" alt="">

<h2>1- Chhichhore</h2>

<p>
Sajid Nadiadwala, Fox Star Studios collaborate again for Nitesh Tiwari’s movie is a riveting story of today’s generation. <br>

Shraddha Kapoor joins Sushant in the lead role. Varun Sharma, Tahir Raj Bhasin, Naveen Polishetty, Tushar Pandey, Saharsh Shukla, and Prateik Babbar also in key roles.<br>

Movie Name– Nitesh Tiwari’s Next<br>

Release Date– 6 Sep 2019<br>

Star Cast– Sushant Singh Rajput<br>

Director– Nitesh Tiwari<br>

Producer– Sajid Nadiadwala<br>

Genre– Drama<br>

Budget– 70 Cr.<br>
</p>
<h2>2- Street Dancer 3D</h2>

<p>
Shraddha replaces Kat in Remo’s biggest dance film Street Dance 3D (ABCD 3).<br>

Movie Name– Street Dancer 3D<br>

Release Date– 24 Jan 2020<br>

Star Cast– Varun Dhawan, Shraddha Kapoor, Nor Fatehi<br>

Director– Remo D’souza<br>

Producer– T Series<br>

Genre– Dance Drama<br>

Budget– 100 Cr+<br>
Shraddha Kapoor Films Not Final Yet<br>
</p>
<h2>3- Chanda Mama Door Ke</h2>
<p>
Chanda Mama Door Ke is Hindi science-fiction space film is directing by Sanjay Puran Singh Chauhan and producing by Viki Rajani. Sushant Singh Rajput is playing a key role.<br>

Movie Name– Chanda Mama Door Ke<br>

Release Date– Not Final<br>

Star Cast– Shraddha Kapoor, R Madhavan, N Siddiqui<br>

Director– Sanjay Pooran Singh<br>

Producer– Viki Rajani<br>

Genre– Space drama<br>

Budget– 60 crore<br>
</p>
<h2>4- Shotgun Shaadi</h2>
<p>
Ek Villain (2014) pair loved for their chemistry in the film and now they come back with comedy-drama called Shotgun Shaadi revolves around Bihar’s Pakdu Vivah, Shidharth will play a thug in the film.<br>

Movie Name– Shotgun Shaadi<br>

Release Date– Not Finalized<br>

Star Cast– Sidharth Malhotra, Shraddha Kapoor<br>

Director– Prashant Singh<br>

Producer– N/A<br>

Genre– Drama<br>

Budget– N/A<br>
</p>
<h2>5- Dhadkan 2</h2>
<p>
Reportedly, Dharmesh Darshan directed Dhadkan (2000) sequel will be stared by Shraddha Kapoor, Sooraj Pancholi, and Fawad Khan.

Movie Name– Dhadkan 2<br>

Release Date– Not Finalized<br>

Star Cast– Shraddha Kapoor, Sooraj Pancholi<br>

Director– Dharmesh Darshan<br>

Producer– N/A<br>

Genre– Drama<br>

Budget– N/A<br>

This is the report of Shraddha Kapoor upcoming movies & release date. We will regularly update the post. If you have any query please feel free to comment and share.
</p>
</center>
{% include 'footer.html' %}
</body>
</html>
